@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

@font-face {
  font-family: "neue";
  src: url("/fonts/HelveticaNeueLight.otf");
}

@font-face {
  font-family: "neuethin";
  src: url("/fonts/HelveticaNeueThin.otf");
}

body {
  color: var(--foreground);
  background: var(--background);
}